<!-- base.html이라는 파일을 상속받을 것이다. -->
{% extends 'base.html' %}
<!-- title이라는 block안에는 아래 코드가 들어갈 것이다. -->
{% block title %}
Confirm_delete
{% endblock %}
<!-- content라는 block안에는 아래 코드가 들어갈 것이다. -->
{% block content %}
<h1>post_confirm_delete</h1>
<!-- post기 때문에 csrf_token필요 -->
<form action="" method="POST">
    {% csrf_token %}
    <p>복구 불가능 함 ㄹㅇ</p>
    <p>ㄱㅊ?</p>
    <a href="{% url 'index' %}">ㄴㄴ</a>
    <input type="submit" value="삭제하기">
</form>
<!-- 카드를 출력하기 -->
{% include 'mixin/posts/post_card.html' with detail=True %}
{{post}}
{% endblock %}
